#body {
        margin: 0;
        padding: 0px 0px 20px 0px;
        text-align: center;
    }



    #body #canvas {
        height: 800px;
        margin: 0 auto;
        text-align: left;
        width: 800px;
        padding-bottom: 10px;
        cursor: crosshair;
    }

    #body button {
        font-size: 1.2em;
        width: 120px;
    }